<!DOCTYPE html>
<html>
<head>
	<title>Image send and paste</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/index.js"></script>
</head>
<body>

<div class="box">

	<input id="imageinput" type="file" name="image" onchange="readUrl(this)">
	<button name="send" id = "sendbutton">Send</button>
	<hr>
	<img id="imagebox" src="">
	
</div>

</body>
</html>