<div class="upload-section">
  <form id="file-upload-form" class="uploader">
    <input id="file-upload" type="file" name="fileUpload" accept="image/*" />

    <label for="file-upload" id="file-drag">
      <img id="file-image" src="#" alt="Preview" class="hidden">
      <div id="start">
        <i class="fa fa-download" aria-hidden="true"></i>
        <div id="upload-text">Select a file or drag here</div>
        <div id="notimage" class="hidden">Please select an image</div>
        <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
      </div>
      <div id="response" class="hidden">
        <div id="messages"></div>
        <progress class="progress" id="file-progress" value="0">
          <span>0</span>%
        </progress>
      </div>
    </label>
  </form>
</div>
<div class="controls-section">
  <div class="controls">
    <div class="row">
      <div class="col-md-6">
        <button class="left">Masking via OpenCV</button> 
      </div>
      <div class="col-md-6">
        <button class="right">Generate Colour</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button class="left">Masking via GAN</button> 
      </div>
      <div class="col-md-6">
        <button class="right">Draw and Fill</button>
      </div>
    </div>
  </div>
</div>

