<div class="upload-section">

</div>
<div class="controls-section">
  <div class="controls">
    <div class="row">
      <div class="col-md-6">
        <button class="left">Masking via OpenCV</button> 
      </div>
      <div class="col-md-6">
        <button class="right">Generate Colour</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button class="left">Masking via GAN</button> 
      </div>
      <div class="col-md-6">
        <button class="right">Draw and Fill</button>
      </div>
    </div>
  </div>
</div>

