/* You can add global styles to this file, and also import other style files */
div.flash-message.custom-danger-alert{
    position: static;
    background: #E91E63;
    color: white;
    border-radius: 1%;
    border: 2px solid #E91E63;
    margin: auto;
    width: 50%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
    padding: 10px;
}

div.flash-message.custom-success-alert {
    position: static;
    background: #8BC34A;
    color: white;
    border-radius: 1%;
    margin: auto;
    width: 50%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
    padding: 10px;
}


div.flash-message p {
    margin: 15px;
}