@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("../../../../node_modules/bootstrap/dist/css/bootstrap.min.css");


#uploaded-image {
  height: 90vh;
  width: 1100px;
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: none;
}

.onImageSelect {
  display: block !important;
}

.button-controls {
  text-align: center;
}

.upload-btn {
  padding: 10px 12px;
  margin: 5px;
  font-size: 20px;
  color: #fff;
  background-color: #00897B;
  font-family: 'Raleway';
  border-radius: 3px; 
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.6);
  outline: none;
}

.control-btn:hover, .upload-btn:hover {
  transform: scale(0.95);
  box-shadow: none;
}

.control-btn:active, .upload-btn:active {
  transform: scale(1.05);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.6);
}

.icon-text {
  border-radius: 4px;
  width: 200px;
  height: 35px;
  background-color: #00897B;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  left: 100%;
}

#icon-1 {
  top: 4%;
}
#icon-2 {
  top: 18%;
}
#icon-3 {
  top: 31.5%;
}
#icon-4 {
  top: 44.5%;
}

#icon-5 {
  top: 58%;
}

.text-div {
  display: none;
}

.onHover {
  display: block;
}

.sidenav {
  background-color: #00897B;
  min-height: 100vh;
  padding: 20px 30px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.upload-div {
  padding: 5px; 
}

.icons {
  font-size: 30px;
  color: #fff;
  padding: 12px;
  margin: 10px -10px;
  border-radius: 50%;
}

.icons-additional {
  margin: 25px -10px;
  margin-bottom: 20px;
}

.icons-exception {
  padding: 12px 14px;;
}

.icons:hover {
  background-color: #fff;
  color: #00897B;
}

#notimage, #file-upload-btn, #upload-text, #upload-icon, #start {
  z-index: 100;
}

#upload-text {
  font-family: 'Raleway';
}

.upload-section {
    min-height: 90%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

button {
    padding: 5px 20px;
    text-align: center;
    margin: 10px auto;
    outline: none;
    border: none;
}

.controls {
    width: 80%;
    margin: 0px auto;
}

.col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left, .right {
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 45px;
    background-color: #00897B;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.6);
}

.left:hover, .right:hover, #file-upload-btn:hover, .icon-text:hover {
    transition: all 200ms;
    transform: scale(0.95);
    box-shadow: none;
}

.left:active, .right:active, #file-upload-btn:active, .icon-text:active {
    transition: all 200ms;
    transform: scale(1.1);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.6);
}

.upload {
    margin: 15px;
    height: 95%;
    width: 97%;
    border: 2px dashed grey;
    position: absolute;
    right: 0;
    top: 0;
}


html,
body,
* {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  height: 100%;
  text-align: center;
}

body {
  padding: 2rem;
  background: #f8f8f8;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 1;
  color: #454cad;
  margin-bottom: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #5f6982;
}

#upload-text {
    font-size: 30px;
}

#file-drag {
    height: 90vh;
}
#start {
    margin: 150px auto; 
}

#file-upload-btn {
    background-color: #00897B;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.6);
}

.uploader {
  display: block;
  clear: both;
  margin: 1px auto;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
}
.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.uploader label:hover {
  border-color: #00897B;
  transform: scale(0.97);
}
.uploader label.hover {
  border: 3px solid #00897B;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: 0.5rem;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto 0.5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader input[type="file"] {
  display: none;
}
.uploader div {
  margin: 0 0 0.5rem 0;
  color: #5f6982;
}
.uploader .btn {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #454cad;
  border-color: #454cad;
  cursor: pointer;
}






.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
  .loader {
color: #17e8a4;
font-size: 90px;
text-indent: -9999em;
overflow: hidden;
width: 1em;
height: 1em;
border-radius: 50%;
margin: 72px auto;
position: relative;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
-webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
0% {
  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
}
5%,
95% {
  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
}
10%,
59% {
  box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
}
20% {
  box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
}
38% {
  box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
}
100% {
  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
}
}
@keyframes load6 {
0% {
  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
}
5%,
95% {
  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
}
10%,
59% {
  box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
}
20% {
  box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
}
38% {
  box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
}
100% {
  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
}
}
@-webkit-keyframes round {
0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
}
@keyframes round {
0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
}  

.loader{
  position: relative;
  margin: auto;
  top:50%;
  bottom: 50%;
}

.loader-background{
  position: absolute;
  z-index: 100;
  top:0%;
  bottom: 0%;
  right: 0%;
  left:0%;
  /* background-color: black; */
  background-color: #000;
  opacity: 0.8;
  height: 92vh;
}

