@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    font-family: 'Montserrat', sans-serif;
}

#app-title {
    font-size: 14vh;
    margin: 100px auto;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}

