<!-- <p id="app-title">NEURAL <br><br> LOOM <br><br> DESIGN</p> -->

<div class="row choices-div">
    <div class="col-md-6 left-choice-div">
        <p>FOREGROUND</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="foreground" id="handloom_saree1.jpg" value="handloom_saree1.jpg" (click)="foregroundSelected($event)">
            <img src="../../../assets/images/handloom_saree1.jpg"><br>    
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="foreground" id="handloom_saree2.jpg" value="handloom_saree2.jpg" (click)="foregroundSelected($event)">
            <img src="../../../assets/images/handloom_saree2.jpg"><br>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="foreground" id="handloom_saree3.jpg" value="handloom_saree3.jpg" (click)="foregroundSelected($event)">
            <img src="../../../assets/images/handloom_saree3.jpg"><br>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="foreground" id="handloom_saree4.jpg" value="handloom_saree4.jpg" (click)="foregroundSelected($event)">
            <img src="../../../assets/images/handloom_saree4.jpg"><br>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="foreground" id="handloom_saree5.jpg" value="handloom_saree5.jpg" (click)="foregroundSelected($event)">
            <img src="../../../assets/images/handloom_saree5.jpg"><br>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="foreground" id="normal_saree1.jpg" value="normal_saree1.jpg" (click)="foregroundSelected($event)">
            <img src="../../../assets/images/normal_saree1.jpg"><br>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="foreground" id="colorful.jpg" value="colorful.jpg" (click)="foregroundSelected($event)">
            <img src="../../../assets/images/colorful.jpg"><br>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="foreground" id="mosaic.jpeg" value="mosaic.jpeg" (click)="foregroundSelected($event)">
            <img src="../../../assets/images/mosaic.jpeg">  
        </div>
    </div>
    <div class="col-md-6 right-choice-div">
        <p>BACKGROUND</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="background" id="handloom_saree1.jpg" value="handloom_saree1.jpg" (click)="backgroundSelected($event)">
            <img src="../../../assets/images/handloom_saree1.jpg"><br>    
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="background" id="handloom_saree2.jpg" value="handloom_saree2.jpg" (click)="backgroundSelected($event)">
            <img src="../../../assets/images/handloom_saree2.jpg"><br>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="background" id="handloom_saree3.jpg" value="handloom_saree3.jpg" (click)="backgroundSelected($event)">
            <img src="../../../assets/images/handloom_saree3.jpg"><br>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="background" id="handloom_saree4.jpg" value="handloom_saree4.jpg" (click)="backgroundSelected($event)">
            <img src="../../../assets/images/handloom_saree4.jpg"><br>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="background" id="handloom_saree5.jpg" value="handloom_saree5.jpg" (click)="backgroundSelected($event)">
            <img src="../../../assets/images/handloom_saree5.jpg"><br>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="background" id="normal_saree1.jpg" value="normal_saree1.jpg" (click)="backgroundSelected($event)">
            <img src="../../../assets/images/normal_saree1.jpg"><br>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="background" id="colorful.jpg" value="colorful.jpg" (click)="backgroundSelected($event)">
            <img src="../../../assets/images/colorful.jpg"><br>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="background" id="mosaic.jpeg" value="mosaic.jpeg" (click)="backgroundSelected($event)">
            <img src="../../../assets/images/mosaic.jpeg">  
        </div>
    </div>
    <button id="merge-btn" (click)="uploadForMerge()">MERGE</button>
</div>
