@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("../../../../node_modules/bootstrap/dist/css/bootstrap.min.css");

* {
    font-family: 'Raleway', sans-serif;
}

/* #app-title {
    font-size: 10vh;
    margin: 100px auto;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
} */

img {
    height: 60px;
    width: 60px;
    margin: 10px;
}

p {
    font-size: 18px;
    font-weight: 700;
    color: #00897B;
}

.left-choice-div, .right-choice-div {

    margin: 15px auto;
    text-align: center; 
}

button {
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 35px;
    background-color: #00897B;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.6);
    margin: 0px auto;
}

button:hover {
    transition: all 200ms;
    transform: scale(0.95);
    box-shadow: none;
}

button:active {
    transition: all 200ms;
    transform: scale(1.1);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.6);
} 

