.gallery-container {
    margin: 5px;
    padding: 3px;
    background-color: #fff;
    border-radius: 3px;
    min-height: 100vh; 
}

.item {
    margin: 3px;
    height: 26.7vh;
    width: 26.7vh;
    background-color: aliceblue;
    display: inline-block;
}

img {
    max-width: 100%;
    max-height: 100%;
}